
/* bootstrap-tagsinput */
.bootstrap-tagsinput {
    width: 100% !important;
    line-height: 30px;
    padding-bottom: 7px;
    background: #009374;
    border-color: #009374;
}
.bootstrap-tagsinput .tag {
    background-color: #6DBFA9;
    padding: 0 5px 4px 5px;
}

.bootstrap-tagsinput input {
  color: white;
}

.bootstrap-tagsinput ::placeholder {
  color: white;
  opacity: 0.6;
}
/* bootstrap-tagsinput */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
    border-radius: 0;
}