/* bootstrap-tagsinput */
.bootstrap-tagsinput {
    width: 100% !important;
    line-height: 30px;
    padding-bottom: 7px;
    background: #009374;
    border-color: #009374;
}

.bootstrap-tagsinput .tag {
    background-color: #6DBFA9;
    padding: 0 5px 4px 5px;
}

.bootstrap-tagsinput input {
    color: white;
}

.bootstrap-tagsinput ::placeholder {
    color: white;
    opacity: 0.6;
}
/* bootstrap-tagsinput */

.footer {
    padding: 10px;
    margin: 0;
    text-align: center;
}

.bg-iwu{
    background: #009374;
}

.bg-iwu-light{
    background: #89e7ce;
}